@model OopRestaurant201909.Models.Location

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="form-horizontal">
    <h4>Location</h4>
    <hr />
    @Html.DisplayForModel()

</div>
<p>
    @if (Request.IsAuthenticated //csak akkor tudjuk a user-t vizsgalni, ha be vagyunk jelentkezve:
    && (User.IsInRole("Admin") || User.IsInRole("Fopincer")))//Ha a User az Admin vagy a Fopincer csoporthoz tartozik:
    {
      <span>@*div-be/span-be kell tenni, mert tobb, mint egy c# kifejezes all itt, hiszen ott van a | html elem is*@        
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
      </span>
    }    
    @Html.ActionLink("Back to List", "Index")
</p>
